  form {
    padding: 0px;

    
    input,
    .select-field {
      border: 1px solid $dark-green;
      border-radius: 5px;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 16px;
      text-align: left;
    }

    input {
      line-height: 2;
      padding-left: 10px;
    }
    
    .select-field {
      width: 100%;
    }
    
    .one-col {
      width:100%;
      
      input {
        width: 98.5%;
      }
    }
    .two-col {
      display: flex;
      justify-content: space-between;
      gap: 38px;
      input{
        width: 97%;
      }
      
      .col {
        display: flex;
        flex-direction: column;
      }
      .col1 {
        width: 47%;
      }
      .col2 {
        width: 47%;
      }
    }
    
    label {
      display: block;
      margin-top: 0.5rem;
      width: 100%;
      color: $dark-green;
      text-align: left;
      line-height: 2;
      font-size: 14px;
    }

    .instructions {
      font-size: 0.75em;
      border-radius: 2px;
      color: crimson;
      padding: 0.25em;
      position: relative;
      margin-top: 1px;
      margin-bottom: 0px;
      text-align: left;
    }

    .instructions > svg {
      margin-right: 0.25em;
    }

    .react-datepicker-wrapper {
      width: auto;
    }
    .btn-container {
      margin-top: 20px;
    }

  }

@media screen and (max-width: 768px) {
    form {
      .one-col {
        input {
          width: 97.5%;
        }
      }
      .two-col {
        flex-direction: column;
        gap: 0;
        .col {
          width: 100%;
        }
      }
    }
}
